.container {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #ecf0f1;

}

.content {
    background-color:  white;
    display: flex;
    width: 80%;
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}


.primeira-coluna{

    background-color: teal;
}



.form{
    display: flex;
    flex-direction: column;
}






